@import "tailwindcss";
@config "../tailwind.config.js";

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&family=Noto+Sans:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&display=swap');

/* Custom Scrollbar for a cleaner look */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #112217;
}

::-webkit-scrollbar-thumb {
  background: #23482f;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #13ec5b;
}